// Variables
$primary-color: #ffc20a;
$secondary-color: rgb(114, 96, 240);
$white: #ffffff;
$nav-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
$primary-color-shadow: 2px 3px #ffc20a33;
$dark-gray: #d6d5db;
$light-gray: #f1f0f7;
$secondary-color-shadow: 2px 3px #6151ca33;

// Mixin
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
