// Imports
@import '_variables';
@import '_home';
@import '_week';

// Framework
* {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

body {
  overflow-x: hidden;
}

:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:hover,
.btn-link:hover {
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.breadcrumb {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p,
ul {
  line-height: 1.8;
}

.navbar-brand {
  margin: 0;
}

.btn {
  padding: 0;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

button:focus {
  outline: none;
}

.btn {
  border-radius: 30 / $rem;
  transition: all 0.3s ease-in-out;

  &.primary {
    background-color: $primary-color;
    color: $white;

    &:hover {
      background-color: lighten($primary-color, 10);
      box-shadow: $btn-shadow;
    }
  }

  &.secondary {
    background-color: $secondary-color;
    color: $white;

    &:hover {
      background-color: lighten($secondary-color, 10);
      box-shadow: $btn-shadow;
    }
  }
}

// Select2
.select2-container {
  width: 300 / $rem !important;

  &.select2-container--focus.select2-container--open .select2-selection--single {
    background-color: darken($white, 10);
  }
}

.select2-container--default .select2-selection--single {
  height: 38 / $rem;
  padding: 0 10 / $rem;
  border-radius: 30 / $rem;

  .select2-selection__rendered {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .select2-selection__arrow {
    width: 30 / $rem;
    height: 100%;
  }

  &:hover {
    background-color: darken($white, 10);
    box-shadow: $btn-shadow;
  }
}

.select2-container--open {
  .select2-dropdown--above,
  .select2-dropdown--below {
    background-color: darken($white, 10);
    z-index: 1;
  }

  .select2-search--dropdown {
    display: none;
  }

  .select2-results > .select2-results__options {
    max-height: 250 / $rem;
  }

  .select2-results__option--highlighted.select2-results__option--selectable,
  .select2-results__option--selected {
    background-color: $primary-color;
    color: $white;
  }
}

// Media Query
@media (max-width: 991/ $rem) {
  html {
    font-size: 14 / $rem;
  }
}

@media (max-width: 991/ $rem) {
  .select2-container {
    width: 100% !important;
  }
}
