// Imports
@import '_variables';
@import '_home';
@import '_week';

// Framework
* {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:hover,
.btn-link:hover {
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.breadcrumb {
  margin: 0;
}

h1,
h2,
h3,
h4,
h6,
p {
  margin: 0;
  padding: 0;
}

p,
ul {
  line-height: 1.8;
}

.navbar-brand {
  margin: 0;
}

.btn {
  padding: 0;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

button:focus {
  outline: none;
}

.btn {
  transition: all 0.3s ease-in-out;
}

.btn.primary {
  background-color: $primary-color;
  color: $white;
  border: 1px solid $primary-color;

  &:hover {
    background-color: $white;
    color: $primary-color;
    box-shadow: $primary-color-shadow;
  }
}
